{% extends 'base.html.twig' %}

{% block title %}Hello Entreprise Controller!{% endblock %}

{% block body %}
 <h1>Liste des entreprises</h1>
 <a class="btn btn-primary" href="{{path('add_entreprise')}}">ajouter une entreprise</a><br>
 {% for entreprise in entreprises %}
 {#{entreprise.raisonSociale ~'('~ entreprise.ville~')'}#}
 {#or utilisé une méthode tostring {{entreprise}}#}
 <a href="{{path('show_entreprise',{'id':entreprise.id}) }}">{{entreprise}}</a>
 <a class="btn btn-warning" href="{{path('edit_entreprise',{'id':entreprise.id}) }}">edit</a> <br>
 {% endfor %}
    

{% endblock %}
