{% extends 'base.html.twig' %}

{% block title %}détails employé{% endblock %}

{% block body %}
 
<h1>{{employe}}</h1>{#employe va nous donner que le nom et prenom suivant la méthode tostring dans l'entité #}
<p>
    ville : {{employe.ville}} <br>
    {# employe.entreprise foreignkey renvoi le méthode to string entite entreprise #}
    Entreprise : {{employe.entreprise}}
    {#employe.age il  va chercher getAge hasAge isAge dans l'entité#}
    date d'embauche : {{employe.dateEmbauche | date('d/m/y')}} ({{employe.age}} ans)<br>
    
</p>
    

{% endblock %}
